[Unit]
Description=Kokoro TTS FastAPI
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --name kokoro-tts -p 8880:8880 bgmp-kokoro-tts:v0.1.0
ExecStop=/usr/bin/docker stop kokoro-tts

[Install]
WantedBy=multi-user.target
